{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block titulo %} Alteração de Documentos {% endblock %}

{% block conteudo %}

<main>
    <div class="center-container">
        <div class="container-card">

            <div class="img-card">
                <img src="{% static 'images/logo.png' %}" alt="Logo TecnoBombas">
            </div>
                <div class="body-card">
                    <h2>Proposta de Contrato</h2>
                    <hr>
                    <form action="#" method="post">
                        <label for="option">Cliente:</label>
                        <div class="input-group">
                            <input type="text" id="nome" name="nome" placeholder="Nome">
                        </div>
                        <div class="input-group">
                            <input type="text" id="endereco" name="endereco" placeholder="Meu Endereço">
                        </div>
                        
                        <label for="option">Tipo de contrato:</label>
                        <div class="input-group">
                            <select id="contract" name="contract" required>
                                <option value="contract1">Opção 1</option>
                                <option value="contract2">Opção 2</option>
                                <option value="contract3">Opção 3</option>
                            </select>
                        </div>
                        <label for="option">Equipamento 1:</label>
                        <div class="input-group">
                            <select id="equipament" name="equipament" required>
                                <option value="equipament1">Opção 1</option>
                                <option value="equipament2">Opção 2</option>
                                <option value="equipament3">Opção 3</option>
                            </select>
                            <button type="" class="btphoto deny"><img src="{% static 'images/trash.png' %}" alt="icone check" class="icon"></button>
                        </div>
                        <button type="submit" class="bt add">Adicionar</button>
                    </form>
                    <label class="checkbox-container">
                        <input type="checkbox">
                        <span>Incluir todos meus equipamentos</span>
                    </label>
                    <div class="input-group">
                        <button type="submit" class="bt">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}