{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block titulo %} Tela Principal {% endblock %}

{% block conteudo %}

<div class="container-body">
        <div class="container-card">
            <div class="img-card">
                <img src="{% static 'images/logo.png'%}" alt="Logo TecnoBombas">
            </div>
            <div class="body-card">
                <h1>Equipamentos</h1>
                <a href="{% url 'add_equipamento' %}" class="btn btn-success"><b>Adicionar Equipamento</b></a>
                <br>
                <table>
                    {% for equip in equipamentos %}
                    <tr>
                        <td><h2>{{equip.id}}</h2></td>
                        <td><h2>{{equip.nome}}</h2></td>

                        <td><a href="{% url 'excluir_equipamento' equip.id %}" class="btn btn-danger">Excluir</a></td>
                        <td><a href="{% url 'edt_equipamento' equip.id %}" class="btn btn-warning">Editar</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    <br>

    <div class="container-card">
        <div class="img-card">
            <img src="{% static 'images/logo.png'%}" alt="Logo TecnoBombas">
        </div>
        <div class="body-card">
            <h1>Documentos</h1>
            <a href="{% url 'sel_documento' %}" class="btn btn-success"><b>Adicionar Documento</b></a>
            <br>
            <table>
                {% for doc in documentos %}
                <tr>
                    <td><h2>{{ doc.id }}</h2></td>
                    <td><h2>{{ doc.tipo_documento }}</h2></td>
                    
                    <td><a href="{% url 'excluir_documento' doc.id %}" class="btn btn-danger">Excluir</a></td>
                    <td><a href="{% url 'edt_documento' doc.id %}" class="btn btn-warning">Editar</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

